<template name="Layout">  
<head>
  <title>mettest</title>
</head>
<body>
 
<div class="container">

    <header>
	  
      <h1>Todo List ({{incompleteCount}})</h1>
	  <span style="float:right">{{> loginButtons}}</span>
	</header>

	
  
      

	  {{#if currentUser}}
	  <div style="margin:10px">
        <form class="new-task" style="border: 1px solid lightgrey;">
          <input type="text" name="text" placeholder="Type to add new tasks" />
        </form>
	  </div>
      {{/if}}
	  <div style="margin:20px 10px 20px 10px">
		Items per page: 
		<select class="itemsPerPage">
			<option selected="selected">10</option> 
			<option>50</option> 
			<option>100</option> 
		</select>
		
		<label class="hide-completed" style="float:right">
			<input type="checkbox" checked="{{hideCompleted}}" />
			Hide Completed Tasks
		  </label> 
	  </div>
		{{> yield}}
	  
  </div>
 </body>
</template> 

<template name="tasks">  
  {{> pages}}
  {{> pagesNav}}
</template>  


<template name="Task">
  <li class="{{#if checked}}checked{{/if}} {{#if private}}private{{/if}}">
    <button class="delete">&times;</button>

    <input type="checkbox" checked="{{checked}}" class="toggle-checked" />

    {{#if isOwner}}
      <button class="toggle-private">
        {{#if private}}
          Private
        {{else}}
          Public
        {{/if}}
      </button>
    {{/if}}

    <span class="text"><strong>{{username}}</strong> - {{text}}</span>
  </li>
</template>